<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/style.css" ></link>
<link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css"></link>
<link rel="stylesheet" type="text/css" href="js/leaflet/leaflet.css" />
<script src="js/leaflet/leaflet-src.js"></script>
<script src="js/leaflet/leaflet.control.orderlayers.js"></script>
<script src="https://unpkg.com/esri-leaflet@2.0.8"></script>
<script src="js/leaflet/catiline.js"></script>
<script src="js/leaflet/leaflet.fgdb.js"></script>
<script src="js/leaflet/colorbrewer.js"></script>
<script src="js/leaflet/spin.js"></script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script
			  src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
			  integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
			  crossorigin="anonymous"></script>
<script src="js/aesthetic/jquery.datetimepicker.js"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKbkdjgPWlg8vSn-yDSHCp3ucmcm93bAQ">
</script>

{% block pre_header %}{% endblock %}
<div id="header">
<img id="main_logo" src="./images/wavelab.png" />

</div>
{% block content %}{% endblock %}

<div id="footer"><a style="float:left; color:white; margin-left: 30px" href="http://www.freepik.com/free-photos-vectors/background">Background vector designed by Freepik</a> USGS &#169;2016</div>
<script src="js/aesthetic/svg_to_image.js" charset="utf-8"></script>

